*
!.*
!.*/**
.Xauthority
.bash_*
.dbshell
.mongorc.js
.npmrc
.viminfo
.xsession-errors
.[Aa]ndroid*
.cache/
.dbus/
.config/
.gnome/
.java
.local
.m2
.npm
.pki
.pip
.wicd/
.gradle
.ICEauthority
.gnupg/
.mozilla/
.profile
.sudo_as_admin_successful
.ssh/
.vboxclient*
.node-gyp
.vscode
